.app-Heading {
  font-weight: var(--theme-font-weight-bold);
}

.app-Heading-lg {
  font-size: var(--theme-font-size-lg) !important;
}

.app-Heading-sm {
  font-size: var(--theme-font-size-sm) !important;
}

.app-Heading-xs {
  font-size: var(--theme-font-size-xxs) !important;
}
