RewriteEngine On
RewriteBase /

# Redireciona www.mk-edge.com.br para www.mk-edge.com.br/lp1
RewriteCond %{HTTP_HOST} ^www\.mk-edge\.com\.br$ [NC]
RewriteRule ^$ lp1 [L,R=301]

# Redireciona www.mk-edge.com.br/lp1 para o app1
RewriteCond %{REQUEST_URI} !^/index\.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^lp1(/.*)?$ index.html [L]

# Redireciona www.mk-edge.com.br/oferta para o app1
RewriteCond %{REQUEST_URI} !^/index\.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^oferta(/.*)?$ index.html [L]
