.app-Heading {
  font-size: var(--theme-font-size-lg);
  font-weight: var(--theme-font-weight-bold);
}

.app-Subtitle {
  font-size: var(--theme-font-size--default);
  font-weight: var(--theme-font-weight-regular);
  line-height: var(--theme-font-line-height-xxs);
}

.app-Button {
  background-color: var(--theme-background-color-Button);
  border: none;
  border-radius: var(--theme-border-radius-sm);
  padding: 12px;
  width: 100%;
  font-weight: var(--theme-font-weight-bold);
  cursor: pointer;
}
