<section id="hero-section">
  <div class="app-Content-Container">
    <h1 class="app-Heading app-Heading-lg">
      TRANSFORME O SUPORTE DO SEU MK-AUTH
    </h1>

    <p class="app-Subtitle first-paragraph">
      Já sentiu que o gerenciamento de chamados em sua
      empresa pode ser mais eficiente?
    </p>

    <p class="app-Subtitle second-paragraph">
      Com o <strong>MK-EDGE</strong>, você pode facilmente monitorar e resolver
      chamados de
      suporte, manutenção, serviços e outros tipos de solicitações
    </p>

    <button class="app-Button">QUERO CONHECER O MK-EDGE</button>
  </div>
</section>

<section id="vantagem-section">
  <ul class="vantagem-list">
    <li>
      <div class="app-Content-Container">
        <h1 class="app-Heading app-Heading-sm">
          TRANSFORME O SUPORTE DO SEU MK-AUTH
        </h1>

        <p class="app-Subtitle">
          Você pode facilmente ver quem está trabalhando em cada chamado e qual
          é
          o status atual
        </p>
      </div>
    </li>
    <li>
      <div class="app-Content-Container">
        <h1 class="app-Heading app-Heading-sm">
          OFEREÇA UMA INTERFACE INTUITIVA E FÁCIL PARA SUA EQUIPE DE SUPORTE
        </h1>

        <p class="app-Subtitle">
          Projetado para ser simples e fácil de usar, com recursos que permitem
          que a equipe trabalhe de maneira mais eficiente.
        </p>
      </div>
    </li>
    <li>
      <div class="app-Content-Container">
        <h1 class="app-Heading app-Heading-sm">
          DÊ ADEUS A ORDENS DE SERVIÇO IMPRESSAS
        </h1>

        <p class="app-Subtitle">
          100% Digitalizado, o MK-EDGE traz simplicidade e economia quando
          tratamos de ordens de serviços.
        </p>
      </div>
    </li>
  </ul>
</section>

<section id="conheca-o-app-section">
  <div class="app-Content-Container">
    <app-carousel></app-carousel>

    <button class="app-Button">QUERO CONHECER O MK-EDGE</button>
  </div>
</section>

<section id="perguntas-frequentes-section">
  <div class="app-Content-Container">
    <h1 class="app-Heading app-Heading-sm">
      PERGUNTAS FREQUENTES
    </h1>

    <ul class="fac-list">
      <li>
        <p class="pergunta">
          Como você pode garantir que as informações dos
          nossos clientes estarão seguras?
        </p>
        <p class="resposta">
          Utilizamos medidas de autenticação rigorosas para garantir que apenas
          os usuários autorizados tenham acesso às informações.

          E além disso nossos servidores são protegidos por medidas de segurança
          físicas, como sistemas de vigilância e acesso restrito.
        </p>
      </li>

      <li>
        <p class="pergunta">
          Nós já tentamos integrar soluções similares antes e tivemos problemas
          para fazer tudo funcionar corretamente. Como posso ter certeza de que
          essa integração será diferente?
        </p>
        <p class="resposta">
          Nossa integração é bastante simples e não deve causar problemas
          durante a implantação.

          Nossa equipe de suporte estará disponível durante todo o processo de
          implantação, para ajudá-lo em qualquer dúvida ou problema que possa
          surgir. Estamos comprometidos em tornar a integração tão fácil quanto
          possível para você.
        </p>
      </li>
    </ul>
  </div>
</section>
