<section class="hero-section">
  <h1 class="app-Heading">
    TRANSFORME O SUPORTE DO SEU MK-AUTH
  </h1>

  <p class="app-Subtitle first-paragraph">
    Já sentiu que o gerenciamento de chamados em sua
    empresa pode ser mais eficiente?
  </p>

  <p class="app-Subtitle second-paragraph">
    Com o <strong>MK-EDGE</strong>, você pode facilmente monitorar e resolver
    chamados de
    suporte, manutenção, serviços e outros tipos de solicitações
  </p>

  <button class="app-Button">QUERO CONHECER O MK-EDGE</button>
</section>
