<section id="hero-section">
  <div class="app-Content-Container">
    <h1 class="app-Heading app-Heading-lg">
      TRANSFORME O SUPORTE DO SEU MK-AUTH
    </h1>

    <p class="app-Subtitle first-paragraph">
      Já sentiu que o gerenciamento de chamados em sua
      empresa pode ser mais eficiente?
    </p>

    <p class="app-Subtitle second-paragraph">
      Com o <strong>MK-EDGE</strong>, você pode facilmente monitorar e resolver
      chamados de
      suporte, manutenção, serviços e outros tipos de solicitações
    </p>

    <button class="app-Button">QUERO CONHECER O MK-EDGE</button>
  </div>
</section>

<section id="vantagem-section">
  <ul class="vantagem-list">
    <li>
      <div class="app-Content-Container">
        <h1 class="app-Heading app-Heading-sm">
          TRANSFORME O SUPORTE DO SEU MK-AUTH
        </h1>

        <p class="app-Subtitle">
          Você pode facilmente ver quem está trabalhando em cada chamado e qual
          é
          o status atual
        </p>
      </div>
    </li>
    <li>
      <div class="app-Content-Container">
        <h1 class="app-Heading app-Heading-sm">
          OFEREÇA UMA INTERFACE INTUITIVA E FÁCIL PARA SUA EQUIPE DE SUPORTE
        </h1>

        <p class="app-Subtitle">
          Projetado para ser simples e fácil de usar, com recursos que permitem
          que a equipe trabalhe de maneira mais eficiente.
        </p>
      </div>
    </li>
    <li>
      <div class="app-Content-Container">
        <h1 class="app-Heading app-Heading-sm">
          DÊ ADEUS A ORDENS DE SERVIÇO IMPRESSAS
        </h1>

        <p class="app-Subtitle">
          100% Digitalizado, o MK-EDGE traz simplicidade e economia quando
          tratamos de ordens de serviços.
        </p>
      </div>
    </li>
  </ul>
</section>
