<div id="vagas-limitadas-alert">
  Vagas limitadas!
</div>

<section id="entenda-o-motivo-section">
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let item of items; let index = index;"
      #accordionItem="cdkAccordionItem" class="example-accordion-item"
      role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header"
        (click)="accordionItem.toggle()">
        <h1 class="app-Heading app-Heading-sm">
          {{ item }}
        </h1>
        <span class="example-accordion-item-description">
          <mat-icon
            *ngIf="accordionItem.expanded === false">expand_more</mat-icon>
          <mat-icon
            *ngIf="accordionItem.expanded === true">expand_less</mat-icon>
        </span>
      </div>
      <div class="example-accordion-item-body" role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        Devido ao alto valor que nosso software oferece e à sua exclusividade,
        estamos limitando as vagas para garantir que possamos oferecer um
        serviço
        personalizado e atencioso a cada cliente.
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</section>

<section id="bonus-exclusivos-section">
  <h1 class="app-Heading app-Heading-sm">
    Bônus exclusivos
  </h1>

  <ul>
    <li>
      <p class="app-Subtitle">
        Acesso antecipado a novas funcionalidades que ainda
        não foram lançadas para o público em geral.
      </p>
    </li>

    <li>
      <p class="app-Subtitle">
        Voz ativa em relação ao desenvolvimento do nosso software, permitindo
        que
        você sugira ideias e dê feedback sobre novas funcionalidades e
        melhorias.
      </p>
    </li>

    <li>
      <p class="app-Subtitle">
        Desconto especial de 20% para novos clientes.
      </p>
    </li>

    <li>
      <p class="app-Subtitle">
        Programa de indicação que oferece descontos diretamente em sua
        mensalidade.
      </p>
    </li>
  </ul>
</section>

<div id="cta-container">
  <div class="container">
    <div class="section-container">
      <section id="preco-section">
        <p>
          De <span>R$ 125</span>
        </p>
        <p>
          Por <span>R$ 100</span>
        </p>
      </section>
      <section id="desconto-section">
        <h1 class="app-Heading app-Heading-sm">
          20% OFF
        </h1>
      </section>
    </div>

    <button class="app-Button">
      QUERO CONTRATAR
    </button>
  </div>
</div>
